@*@model Pyro.Web.Areas.FhirClientPage.Controllers.FhirClientController*@
@model Pyro.Web.Areas.FhirClientPage.Models.FhirClientViewModel
@Scripts.Render("~/bundles/typeahead")
@Scripts.Render("~/bundles/FhirRest")

@Scripts.Render("~/highlight/script")
@Styles.Render("~/highlight/css")

<script>hljs.initHighlightingOnLoad();</script>

@{
  ViewBag.Title = "Pyro FHIR Client";
}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-9">
          <h4>Pyro Server</h4>
        </div>
        <div class="col-sm-3">
          <img class="img-circle" width="50" height="50" src="~/Content/Images/PyroIcon-100.png" alt="Pyro" />
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row">
          <blockquote class="hidden-xs">
            <p><img style="float:left" class="moveFhirLogoImage" src="~/Content/Images/icon-fhir-24.png" alt="Pyro" /><strong>FHIR endpoint: </strong><text class="text-primary"> @Model.ServiceBaseRoot</text></p>
          </blockquote>
          <small class="visible-xs">
            <p><img style="float:left" class="moveFhirLogoImage" src="~/Content/Images/icon-fhir-24.png" alt="Pyro" /><strong>FHIR endpoint: </strong><text class="text-primary">@Model.ServiceBaseRoot</text></p>
          </small>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div id="bloodhound">
            <div class="wrapper">
              <input id="queryString" class="typeahead form-control" type="text" value="Patient/IHIStatusExample" placeholder="Resource Name">
              <button id="searchButton" type="submit" class="btn btn-primary">
                <span class="">Send</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="row">
          <p>
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="pill" href="#jsonPill">JSON</a></li>
              <li><a data-toggle="pill" href="#xmlPill">XML</a></li>
            </ul>
          </p>
          <div class="tab-content">
            <div id="jsonPill" class="tab-pane fade in active">
              <p><strong>Http Status: </strong><text id="fhirjsonStatus"></text></p>
              <p><pre><code class="json" id="fhirjson"><img class="center-block" src="~/Content/Images/clock-loading.gif" alt="loading" /></code></pre></p>
            </div>
            <div id="xmlPill" class="tab-pane fade">
              <p><strong>Http Status: </strong><text id="fhirxmlStatus"></text></p>
              <p><pre><code class="xml" id="fhirxml"><img class="center-block" src="~/Content/Images/clock-loading.gif" alt="loading" /></code></pre></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    OnPageLoad('@Model.ServiceBaseRoot')
  })

</script>




